Users:
   Get(AUTH_KEY) : SESSION_KEY, Expiry : Date
   POST(UserId, password, IsNew): AUTH_KEY
   DELETE(UserId, Password) : bool
   PUT(USerId, Password, NewPassword) : bool

//requires session key
Templates:
   GET(templateId) : template
   POST(template, [templateItems])
   DELETE(templateId) : bool

Lists:
   GET : [List]
   POST(Name) : int
   DELETE(NAME) : bool
   PUT(Name) : bool
   

ListItems:
   GET(listId) : [ListItems]
   POST(ListItem, ListId) : bool
   PUT(ListItem) : bool
   DELETE(ListItem) : bool

ListHistory:
   GET(Name) : [ ListItem ]
   POST(ListITem) : bool
   DELETE (Name) : bool